#LoopingLife {
  padding : 5px;
}

#LoopingLife #resources {
  width : 200px;
  text-align : center;
  padding : 3px;
}
#LoopingLife #actions{
  margin-top : 30px;
}
#LoopingLife #actionList{
  width : 200px;
}
#LoopingLife #actions .progressbox {
  border : 1px solid black;
  width : 200px;
  height: 90px;
  display : inline-block;
  padding : 2px;
  margin : 2px;
  background-color : #e6f2ff;
  color : black;
  text-align : center;
  position : relative;
}
#LoopingLife #actions .progressbox .progressValues{
  position : relative;
  top : 30px;
}
#LoopingLife #actions .progressbox .libel {
    display : block;
    width : 100%;
    top : 10px;
}
#LoopingLife #actions .progressbox .queueButton {
    display : block;
    width : 100%;
    height : 16px;
    position: absolute;
    bottom : 0px;
    border-top : 1px solid black;
    cursor : pointer;
}
#LoopingLife #actions .progressbox .queueButton:hover {
  background-color : #b3d7ff;
}
#LoopingLife .list {
  border : 1px solid black;
}
#LoopingLife .list li {
  border-bottom : 1px solid black;
  padding : 2px;
}
#LoopingLife .title {
    display : inline-block;
    width : 100%;
    height : 16px;
    border-bottom : 1px solid black;
    text-align: center;
}
#LoopingLife .info {
  position : absolute;
  cursor : help;
}
#LoopingLife .info .infoContent {
  display : none;
  position : relative;
  width : 200px;
  margin-top : 10px;
  z-index : 100;
  border : 1px solid black;
  background-color : #b3d7ff;
  text-align : left;
  padding : 2px;
  border-radius : 2px;
}
.info:hover .infoContent {
  display : block;
}

